
.icon-money:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */